body{
  background-color:#fcf2e8ee;
}
.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color:#fcf2e8ee;
  height: 300px;
  /* margin-top: 7em; */
}

.event-card {
  background-color: rgba(215, 126, 49, 0.5);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 10px;
  margin-top: 70px;
  width: calc(33.33% - 20px); /* Three cards in a row */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-content {
  padding: 20px;
  text-align: center;
  height: 100%;
  
}

.event-content h2 {
  font-size: 1.5em; 
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: linear-gradient(to right, #006400, #5dc876, #88e427, #FFE866, #FFDD44, #FFD700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 7px;

}

.event-content h3 {
  font-size: 1.2em;
  color: white;
  font-weight: 300;
  margin-top: auto;

}

.event-content h5, .event-content h4{
  font-size: 1em; 
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: green;
  margin-top: auto;
}
.star{
  /* border: solid blue; */
  justify-content: right;
  display: flex;
}
.favorite-icon {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.2); /* Make it visible but transparent */
  cursor: pointer;
  transition: color 0.3s;
}

.favorite-icon:hover {
  color: yellow;
}

.favorite-icon.favorite {
  color: yellow;
}